.custom-context{
 border: solid 1px #ccc;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 background-color: var(--ui-gray-darker);
 color: var(--text-primary-color);
 font-family: sans-serif;
 cursor: pointer;
 font-size: 14px;
 z-index: 20;
 position: fixed;
}

.custom-context-item{
 border-bottom: dotted 1px #ccc;
 padding: 5px 25px;
 display: inline-block;
}
