.cgSelectFileLabel {
  text-align: left;
  background: #1f1f1f;
  width: fit-content;
  width: auto;
  height: auto;
  color: white;
}

table.cg-table-striped {
  margin-top: 10px;
}

.cgOutputTableTbody {
  word-wrap: break-word;
}

.cgOutputTableTR {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
